<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.angpysha.instauk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="InstaUK"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="50" />
        <meta-data
            android:name="xposeddescription"
            android:value="Ukrainian language for Instagram" />
    </application>

</manifest>
